<header class="p-3 bg-dark text-white" *ngIf="!userToken">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <div class="bi me-2" width="40" height="32">
          <img src="https://localhost:44399/Images/logo.png" width="100px" height="70px" alt="">
        </div>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-warning" routerLink="">Anasayfa</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/cars">Araçlar</a></li>
        <li><a class="nav-link disabled">Ofisler</a></li>
        <li><a class="nav-link disabled">Kampanyalar</a></li>
      </ul>        
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-5">
        <button type="button" class="btn btn-outline-light me-3" routerLink="/login">Giriş Yap</button>
        <button type="button" class="btn btn-warning" routerLink="/signup">Kayıt Ol</button>
      </div>
    </div>
  </div>
</header>

<header class="p-3 bg-dark text-white" *ngIf="userToken">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <div class="bi me-2" width="40" height="32">
          <img src="https://localhost:44399/Images/logo.png" width="100px" height="70px" alt="">
        </div>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-warning" routerLink="/cars">Anasayfa</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/customers"> Müşteriler</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/users"> Kullanıcılar</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/rentals"> Kiralama Detayı</a></li>
        <!-- <li><a class="nav-link px-2 text-white">Products</a></li> -->
        <li>
          <div>
            <app-edit-panel></app-edit-panel>
          </div>  
        </li>
      </ul>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="width: 100px;">
        <label style="color: goldenrod; padding: 3%; ">{{authService.userName}} </label>
      </div>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-4">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="50" height="50" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="userlogout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- 
<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
  <input type="search" class="form-control form-control-dark" placeholder="Search...">
</form> -->