<div class="container" style="margin-top: 1%;">
  <div class="row">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="border:2px solid goldenrod;">
            Marka
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <input type="email" [(ngModel)]="brandFilter" class="form-control" id="brandFilter" placeholder="Örnek:Bmw">
            <select class="form-select" aria-label="Default select example" size="5">
              <option *ngFor="let brand of brands | brandPipe:brandFilter" routerLink="/cars/brand/{{ brand.id }}"
                (click)="setCurrentBrand(brand)"> {{ brand.brandName | uppercase
                }} </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
