<table class="table">
  <thead>
    <tr>
      <th>Marka</th>
    </tr>
  </thead>
  <tr>
    <ul class="list-group">
      <li
        routerLink="/cars/brand/{{ brand.id }}"
        *ngFor="let brand of brands"
        (click)="setCurrentBrand(brand)"
        [class]="getCurrentBrandClass(brand)"
      >
        {{ brand.brandName }}
      </li>
      <li
        routerLink="/cars"
        (click)="setCurrentBrand(defaultBrand)"
        [class]="getCurrentBrandClass(defaultBrand)"
      >
        Hepsi
      </li>
    </ul>
  </tr>
</table>
