<table class="table">
  <thead>
    <tr>
      <th>Marka</th>
    </tr>
  </thead>
  <tr>
    <ul class="list-group">
      <li class="list-group-item">        
          <label for="brandFilter" class="form-label">Marka Ara</label>
          <input type="email" [(ngModel)]="brandFilter" class="form-control" 
          id="brandFilter" placeholder="Örnek:Bmw">        
      </li>
      <li
        *ngFor="let brand of brands | brandPipe:brandFilter"          
        routerLink="/cars/brand/{{ brand.id }}"
        (click)="setCurrentBrand(brand)"
        [class]="getCurrentBrandClass(brand)"
      >
        {{ brand.brandName | uppercase }} 
      </li>
    </ul>
  </tr>
</table>
