<div class="d-grid gap-2 col-8 mx-auto" style="border: 1px solid black;">
 <div>
  <label> Kiralama Tarihi Seçiniz</label>
  <input class="form-control"  type="datetime-local"  min="{{ getRentMinDate() }}" value="{{getRentMinDate()}}"
    [(ngModel)]="rentDate" />
 </div>
  <div>
    <label> Dönüş Tarihi Seçiniz</label>
  <input class="form-control"  type="datetime-local"  min="{{ getReturnMinDate() }}" value="{{getReturnMinDate()}}"
    [(ngModel)]="returnDate" />
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="rentacar()" data-bs-toggle="modal" data-bs-target="#exampleModal">     
       Kirala  
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" *ngIf="datecheck==false" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="datecheck==true" data-bs-dismiss="modal" (click)="payment()">Öde</button>
      </div>
    </div>
  </div>
</div>