<div class="content" style="padding-top: 1%;">
    <div class="col-md-12" *ngIf="rentalSide">
        <div class="card" >
            <div class="card-header">
                <h5 class="title"> Araba Kirala</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="rentalCarForm">
                    <div class="mb-3">
                        <div class="form-group">
                            <label class="form-control">Seçilen Araba ID : {{rentCarId}} </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label class="form-control">Müşteri ID : {{rentcarCustomerId}}</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="rentDate">Alış Tarihi Seçiniz</label>
                        <div class="form-group">
                            <input type="datetime-local" id="rentDate"  formControlName="rentDate" class="form-control"  required/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="returnDate">İade Tarihi Seçiniz</label>
                        <div class="form-group">
                            <input type="datetime-local" id="returnDate"  formControlName="returnDate" class="form-control" required  />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="createRent()">Kirala </button>
            </div>
        </div>
    </div>  
    <div class="col-md-12">
         <app-payment *ngIf="paymentSide" [pricex]="totalfiyat"
         [carIdx]="rentCarId" [customerIdx]="rentcarCustomerId" [carrentalform]="rentalCarForm"
         ></app-payment>
    </div>
   
</div>