<div class="container" style="padding-top: 1%;">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <table class="table table-warning table-striped" style="background-color: gold;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ad</th>
              <th scope="col">Soyad</th>
              <th scope="col">Email</th>
              <th scope="col">Durum</th>
              <th scope="col">Findeks Puanı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.status }}</td>
              <td>{{ user.findeks }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 