<div class="container">
  <div class="row" style="border: 1px solid black;">
    <app-navi></app-navi>
  </div>
  <div class="row" style="margin-top: 1%;">
    <div class="col-md-3" style="border: 1px solid black;">
      <div class="row">
        <app-brand></app-brand>
      </div>
      <div class="row">
        <app-color></app-color>
      </div>
    </div>
    <div class="col-md-9" style="border: 1px solid black;">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row" style="border: 1px solid black; margin-top: 1%;"> 
    <label><Footer>Footer</Footer></label>
  </div>
</div>