<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="container">
  <div class="row" style="padding-top: 1%;">
    <div class="card">
      <div class="card-header">
        <h5 class="title" style="text-align: center;"> Arama Kısmı </h5>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <div class="btn-group" style="width:20%; margin-right: 2%;">
              <button type="button" data-bs-toggle="dropdown" class="form-select" aria-label="Default select example"
                aria-expanded="false">
                {{ brandText.brandName }}
              </button>
              <ul class="dropdown-menu" style="width:100%;">
                <li (click)="getValueBrandClass(brand)" *ngFor="let brand of brands| slice:1; let i = index;">
                  <a class="dropdown-item">{{ brand.brandName }}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" style="width:20%; margin-right: 2%;">
              <button type="button" data-bs-toggle="dropdown" class="form-select" aria-label="Default select example"
                aria-expanded="false">
                {{ colorText.colorName }}
              </button>
              <ul class="dropdown-menu" style="width:100%;">
                <li (click)="getValueColorClass(color)" *ngFor="let color of colors| slice:1; let i = index;">
                  <a class="dropdown-item">{{ color.colorName }}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" style="width:15%; margin-left: 2%;">
              <button class="btn btn-outline-secondary" (click)="filtrele()">Filtrele</button>
            </div>
            <div class="btn-group" style="width:15%; margin-left: 2%; margin-right: 2%; ">
              <button class="btn btn-outline-secondary" (click)="allitem()"> Tümünü Göster</button>
            </div>
            <div class="btn-group" style="width:15%;">              
              <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" 
              data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"> Gelişmiş Arama</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div *ngFor="let car of cars" class="col">
        <div class="card">
          <img [src]="carimagethum(car)" style="height: 200px;" routerLink="/car-detail/{{ car.id }}"
            class="img-fluid img-thumbnail" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              <li class="list-group-item list-group-item-warning">
                Marka : {{ car.brandName }}
              </li>
            </h5>
            <p class="card-text">
              <li class="list-group-item list-group-item-primary">
                Renk: {{ car.colorName }}
              </li>
              <li class="list-group-item list-group-item-primary">
                Model: {{ car.modelYear }}
              </li>
              <li class="list-group-item list-group-item-primary">
                Günlük fiyat: {{ car.dailyPrice | currency: "₺" }}
              </li>
              <li class="list-group-item list-group-item-warning">
                <button class="btn btn-primary" type="button" style="width: 100%;"
                  routerLink="/car-rent/{{ car.id }}">Kirala</button>
              </li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Gelişmiş Arama Menüsü</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <app-brand></app-brand>
    </div>
    <div class="row">
      <app-color></app-color>
    </div>
  </div>
</div>