<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false" style="color: gold;">
    Edit Panel
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" routerLink="brand-add">Marka Editle</a></li>
    <li><a class="dropdown-item" routerLink="color-add">Renk Editle</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" routerLink="car-add">Araba Editle</a></li>
    <li><a class="dropdown-item" routerLink="car-image-add">Araba Resmi Editle</a></li>
  </ul>
</li>