<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title"> Renk Ekle</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="colorAddForm">
                        <div class="mb-3">
                            <label for="colorName">Renk Adı</label>
                            <div class="form-group">
                                <input type="text" id="colorName" formControlName="colorName" class="form-control"
                                    placeholder="Renk adı" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 2%;">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th> Id </th>
                        <th> Renk</th>
                        <th> Ayarlar </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let color of colors; let i=index;">
                        <th scope="row">{{i+1}}</th>
                        <th> {{color.id}} </th>
                        <th> {{color.colorName}} </th>
                        <th>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="getColor(color)">
                                Düzenle
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Renk Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label>Renk Adı</label>
                        <div class="form-group">
                            <input type="text" class="form-control" [value]="colorxx.colorName"
                                (keyup)="handleKeyup($event)" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="updateColor()">Kaydet</button>
            </div>
        </div>
    </div>
</div>