<div class="container" style="padding-top: 1%;">
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <table class="table table-warning table-striped" style="background-color: gold;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Email</th>
            <th scope="col">Durum</th>
            <th scope="col">Şirket</th>
          </tr>
        </thead>
        <tr *ngFor="let customer of customers">
          <td scope="row">-</td>
          <td scope="row">{{ customer.id }}</td>
          <td scope="row">{{ customer.firstName }}</td>
          <td scope="row">{{ customer.lastName }}</td>
          <td scope="row">{{ customer.email }}</td>
          <td scope="row">{{ customer.status }}</td>
          <td scope="row">{{ customer.companyName }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>