<div class="container" style="padding-top: 1%;">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <table class="table table-warning table-striped" style="background-color: gold;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Email</th>
            <th scope="col">Durum</th>
            <th scope="col">Şirket</th>
          </tr>
        </thead>
        <tr *ngFor="let customer of customers; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.status }}</td>
          <td>{{ customer.companyName }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>